{% extends 'base.html' %}
{% load static %}
{% block content %}
{{block.super}}
   

    <div class="container" style="margin: 0;height: 100%;">
        <div class="row" style="height: 100%;">
            <!-- This is for the LEFT BAR -->
            <section class="col-3 shadow-sm" style="background-color: lightslategray;color: white;">
                <h1 class="text-3xl font-bold mb-4" style="text-align: center;margin-top: 5px;margin-bottom: 10px;">
                    Analytica Bot
                </h1>
                <div style="text-align: center;">
                    <button type="button" class="btn btn-dark" style="width: 80%;">
                        New Chat
                    </button>
                </div>

                <hr style="position: absolute;
                width: 22%;
                bottom: 6.5rem;">
                <!-- <ul id="files" style="padding-left: 2rem;
                position: absolute;
                bottom: 150px;">
                      <!-- <li>{{ file }}</li>
                </ul> -->
                <div style="padding-left: 2rem;
                position: absolute;
                bottom: 150px;">
                    <h1>Upload a File</h1>
                    <!-- <form>
                        {% csrf_token %}
                        <!-- {{ form.as_p }}
                        <button type="submit" class="btn btn-outline-secondary">Upload</button>
                    </form> -->

                    <form id="file-upload-form" method="post" enctype="multipart/form-data" style="display: grid;">
                        {% csrf_token %}
                        <input type="file" name="file" id="file" accept=".csv, .xlsx">
                        <button type="submit" class="btn btn-outline-secondary" style="width: 50%;
                        margin-top: 1rem;
                        color: white;">
                            Upload
                        </button>
                    </form>

                    <h2>Uploaded Files</h2>
                    <ul id="files">
                        <!-- {% for file in uploaded_files %} -->
                            <!-- <li> -->
                                <!-- <input type="radio" name="file_radio" value="{{ file.file_name }}">
                                {{ file.file_name }} -->
                            <!-- </li> -->
                        <!-- {% endfor %} -->
                    </ul>                
                </div>

                <div class="card shadow-sm bg-transparent" style="position: absolute; bottom: 2rem; width: 20%;">
                    <div class="card-body d-flex align-items-center" style="padding: 3px 10px;color:azure;">
                        <img src="https://images.unsplash.com/photo-1474447976065-67d23accb1e3?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2785&q=80" class="rounded" alt="..." style="height: 6%; width: 9%;">
                        <h1 class="text-1.5xl font-bold ms-4">John Doe</h1>
                        <div class="ms-auto">
                            <div class="dropup-center dropup">
                                <span class="material-symbols-outlined" data-bs-toggle="dropdown" aria-expanded="false" style="cursor: pointer;">more_vert</span>
                                <ul class="dropdown-menu dropdown-menu-dark">
                                    <li><a class="dropdown-item" href="#">Another action</a></li>
                                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li><a class="dropdown-item" href="#">Sign Out</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="col-9">
                <h3 class="text-3xl font-bold" style="text-align: center;">
                    Data Analysis Asistant
                </h3>
                <div style="height: 75%;overflow-y: scroll;padding: 1rem;">
                    <!-- <div id="chatHistoryContainer"></div>
                    <div>
                        
                    </div> -->
                    <div id="chat-container">
                        <!-- Chat messages will be displayed here -->
                    </div>

                </div>

                <form id="message-form" style="background-color: white; position: absolute; bottom: 0;width: 100%;">
                    {% csrf_token %}
                    <div class="mb-3" 
                    style="
                        padding: 10px;
                        width: 60%;
                        background-color: white;"
                    >
                        <label for="exampleFormControlTextarea1" class="form-label" style="font-size: 13px;">Write your prompt</label>
                        <textarea type="text" id="user-input" placeholder="Type a message..." class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                    </div>
                    <div class="spinner-grow text-light" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                    <button type="submit" id="submitButton" class="btn btn-outline-secondary" style="
                    bottom: 30;
                    right: 130;
                    width: 7%;"
                    >
                        Send
                    </button>
                </form>

               
            

                <!-- <form id="message-form">
                    {% csrf_token %}
                    <input type="text" id="user-input" placeholder="Type a message..." />
                    <button type="submit">Send</button>
                </form> -->
            </section>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var chatContainer = document.getElementById("chat-container");
            var messageForm = document.getElementById("message-form");
            var userInput = document.getElementById("user-input");
            var filesCollected = document.getElementById("files");
            var myVariable = "{{ mode }}";
            var url = ''
            var fileToQuery = ''

            var formData = document.getElementById("file-upload-form")

            console.log(myVariable, 'ÄÄÄÄÄÄÄÄ');
            // Send a GET request to your Django view on page load
            // fetch("https://sheltered-sea-55779-e7c05a3c334d.herokuapp.com/api/get_user_files", {
            //     method: "GET",
            //     headers: {
            //         "Content-Type": "application/json", // Set the content type if needed
            //     },
            // })
            // .then(function (response) {
            //     console.log(response);
            //     if (!response.ok) {
            //         throw new Error("Network response was not ok");
            //     }
            //     return response.json(); // Assuming your view returns JSON data
            // })
            // .then(function (data) {
            //     // Handle the response data as needed
            //     console.log(data.response.media_files);
            //     data.response.media_files.forEach(element => {
            //         filesCollected.innerHTML += "<li>" + element + "</li>"
            //     });
            // })
            // .catch(function (error) {
            //     console.error("Error:", error);
            // });

            if(myVariable === 'dev'){
                url = 'http://localhost:8000/api';
            }
            else {
                url = 'https://sheltered-sea-55779-e7c05a3c334d.herokuapp.com/api';
            }


            formData.addEventListener("submit", function (event) {
                event.preventDefault();
                
                var formData = new FormData(this);
                console.log(formData, 'upload_view###########');
                fetch("{% url 'upload_view' %}", {
                    method: "POST",
                    body: formData,
                    // headers: {
                    //     "Content-Type": "application/json",
                    //     "X-CSRFToken": csrfToken, // Include the CSRF token in the request headers

                    // },

                })
                .then(response => response.json())
                .then(data => {
                    // Handle the response from the server, e.g., show a success message
                    console.log(data);
                    fileToQuery = data.file_name
                    filesCollected.innerHTML += "<li>" + data.file_name + "</li>"
                })
                .catch(error => {
                    // Handle any errors that occur during the fetch
                    console.error(error);
                });
                
            });


            messageForm.addEventListener("submit", function (e) {
                e.preventDefault();

                // Get the CSRF token from the hidden input field
                var csrfToken = document.querySelector('input[name="csrfmiddlewaretoken"]').value;


                // Get the user's message from the input field
                var userMessage = userInput.value;

                // Add the user's message to the chat container
                chatContainer.innerHTML += "<p style='padding:1.5rem'>User: " + userMessage + "</p>";

                var usrMsgs = {
                    "userId": 2,
                    "sessionId":1, 
                    "questionType":"text", 
                    "question":userMessage,
                    "file": fileToQuery
                    
                };
                console.log(usrMsgs, '#######', fileToQuery);
                // Clear the input field
                userInput.value = "";

                // Send the user's message to the Django view for processing https://sheltered-sea-55779-e7c05a3c334d.herokuapp.com
                fetch("{% url 'send_question' %}", {
                // fetch(`${url}/send_question`, {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                        "X-CSRFToken": csrfToken, // Include the CSRF token in the request headers

                    },
                    // beforeSend: function(xhr, settings) {
                    //     xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
                    // },
                    body: JSON.stringify({ message: usrMsgs }),
                })
                    .then(function (response) {
                        return response.json();
                    })
                    .then(function (data) {
                        console.log(data, 'rreets------');
                        // Display the response from the Django view
                        // chatContainer.innerHTML += "<p>AI: <pre style='line-height: 1;font-family: inherit;'>" + data.response.text | safe + "</pre></p>";

                        // chatContainer.innerHTML += "<p>AI: <pre style='line-height: 1;font-family: inherit;background-color:#f7f7f8;padding:1rem'>"+data.response.text+"</pre></p>";
                        chatContainer.innerHTML += "<p><img src='https://icons8.com/icon/HRqoDlVZAD8t/bot'> <p style='line-height: 1.6;font-family: inherit;background-color:#f7f7f8;overflow-x: hidden;overflow-y: hidden;white-space: pre-wrap;padding:1rem !important;'>"+data.response.text+"</p></p>";

                        // chatContainer.innerHTML += "<p>AI: <pre style='line-height: 1;font-family: inherit;background-color:#f7f7f8;'></pre></p>";
                        // chatContainer.innerHTML += data.response.text

                        // Check if the 'file' array contains an image
                        if (data.response.file.length > 0) {
                            img_index = data.response.file.length
                            // Display the image
                            // data.response.file.forEach(el =>{
                            chatContainer.innerHTML += "<img src='data:image/png;base64," + data.response.file[img_index-1] + "' alt='Image' />";

                            // })
                        }
                    })
                    .catch(function (error) {
                        console.error("Error sending message:", error);
                    });
            });
        });

    </script>
    <!-- <script type="text/javascript">
        
        var results = []
        localStorage.clear()
        var storedData = localStorage.getItem('yourKey'); // Replace 'yourKey' with the key you used to store the data

        if (storedData !== null) {
            // Data was found in local storage, you can use it
            console.log('Data retrieved from local storage:', storedData);
            results = storedData;
        } else {
            // Data was not found in local storage
            console.log('Data not found in local storage');
            results = [{role: 'AI', content: 'Try again'}];
        }
        console.log(results);
        displayChatHistory(results)
        function submitData( challenge_id ){
            const formData = $("#myForm").serialize();
            chatHistory = []
            
            results.push({"role":"user", "content":formData});

            $.ajax({
                type: "POST",
                url: 'http://localhost:8000/api/send_question',
                data: formData,
                beforeSend: function(xhr, settings) {
                    xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
                },
                success: function(data) {
                    console.log(data,'######ääääääää');
                    
                    results.push({"role":"AI", "content":data.data});

                    localStorage.setItem('yourKey', results);

                    console.log(results, 'ÄÄÄÄÄÄÄÄÄ');
                    displayChatHistory(results)
                },
                error: function(xhr, status, error) {
                    console.error("Error:", error);
                }

            });
            return results
        }


        // function displayChatHistory(history) {
        //     console.log(history);
        //     var container = $("#chatHistoryContainer");

        //     for (var i = 0; i < history.length; i++) {
        //         var item = history[i];
        //         var role = item.role;
        //         var content = item.content;

        //         // Only display user messages with meaningful content
        //         if (role === 'user' && content.trim() === '') {
        //             continue; // Skip empty user messages
        //         }

        //         // Create a chat message element
        //         var messageElement = document.createElement("div");
        //         messageElement.textContent = role + ": " + content;

        //         // Append the message to the container
        //         container.append(messageElement);
        //     }
        // }

        function displayChatHistory(history) {
            var container = $("#chatHistoryContainer");
            var lastRole = null; // Track the role of the last displayed message

            for (var i = 0; i < history.length; i++) {
                var item = history[i];
                var role = item.role;
                var content = item.content;

                // Create a chat message element
                var messageElement = document.createElement("div");
                messageElement.textContent = role + ": " + content;

                // Append the message to the container
                container.append(messageElement);

                // Update the lastRole
                lastRole = role;
            }
        }
        
    </script> -->
{% endblock %}