{% extends 'base.html' %}
{% load static %}
{% block content %}
{{block.super}}
   

    <div class="container" style="margin: 0;height: 100%;">
        <div class="row" style="height: 100%;">
            <!-- This is for the LEFT BAR -->
            <section class="col-3 shadow-sm" style="background-color: lightslategray;color: white;">
                <h1 class="text-3xl font-bold" style="text-align: center;margin-top: 5px;margin-bottom: 10px;">
                    Analytica Bot
                </h1>
                <div style="text-align: center;">
                    <button type="button" class="btn btn-dark" style="width: 80%;">
                        New Chat
                    </button>
                </div>

                <hr style="position: absolute;
                width: 22%;
                bottom: 6rem;">

                <div class="card shadow-sm bg-transparent" style=" position: absolute;
                bottom: 2rem;width: 22%;">
                    <div class="card-body" style="padding: 3px 10px;">
                        <img src="https://images.unsplash.com/photo-1474447976065-67d23accb1e3?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2785&q=80" class="rounded mx-auto d-block float-start" alt="..." style="height: 6%;
                        width: 8%;
                        float: left;">
                        <h1 class="text-2xl font-bold" style="margin-top: 0.2rem;
                        margin-left: 4rem; width: 7rem;">John Doe</h1>
                        <div>
                            <span class="material-symbols-outlined">
                                more_vert
                            </span>
                        </div>
                    </div>
                </div>
            </section>
            <section class="col-9">
                <h3 class="text-3xl font-bold" style="text-align: center;">
                    {{ data }}
                    Data Analysis Asistant
                </h3>
                <div>
                    <div class="row">

                    </div>
                    <div class="row">

                    </div>
                </div>
                <div class="mb-3" 
                style="
                    position: absolute;
                    bottom: 0;
                    padding: 10px;
                    width: 60%;
                    background-color: white;"
                >
                    <label for="exampleFormControlTextarea1" class="form-label" style="font-size: 13px;">Enter your prompt</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
                <button type="button" class="btn btn-outline-secondary" style="position: absolute;
                bottom: 30;
                right: 130;
                width: 7%;"
                >
                    Send
                </button>
            </section>
        </div>
    </div>
{% endblock %}